/**
 * Author: Giulio Bosco (giuliobva@gmail.com)
 * Version: 1.0 (27.02.2018)
 */

.overflow-shield-bg {
	display: none;
	z-index: 1;
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
}
.overflow-shield-ics {
	z-index: 1;
	position: fixed;
	left: 25px;
	top: 75px;
	color: #fff;
}

.overflow-shield {
	z-index: 1;
	position: fixed;
	top:50%;
	left:50%;
	width: 70%;
	height: 70%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: #fff;
}